# Dependencies
node_modules/

# Build and Distribution
dist/
build/
out/
.next/
.nuxt/

# Environment and Secrets
.env*
*.env.local

# OS and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Caches and Temp
temp/
.cache/
.eslintcache
.stylelintcache
.parcel-cache
.turbo/
